
@import '../../../../styles/kware_styles';
.file-link-container {
  background-color: unset;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  // padding: 5px;
 // height: 60px;
 height: auto;
}

.file-link-container-disabled {
  background-color: unset;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  // padding: 5px;
  // height: 60px;
  height: auto;
  pointer-events: none;
}

.file-name {
  text-justify: auto;
  // padding-inline-start: 10px;
  white-space: break-spaces;
  text-align: inherit;
  width: 100%;
}

.no-perms {
  // padding: 10px;
  justify-content: center;
  align-items: center;
  color: brown;
  width: 25px;
  // height: 60px;
}

.row-data{
  background-color: rgba(0, 0, 50, .02) !important;
}

.ui.table tbody tr:nth-child(2n), .ui.table>tr:nth-child(2n) {
    background-color: rgba(0, 0, 50, .02) !important;
}

::ng-deep .bg-td{
background-color: #f9fafb !important;
}

.size-font{
      font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}