.files-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.files-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  max-height: 25vh;
  overflow-y: auto;
  perspective: 300px;
  transform-style: preserve-3d;
}

.files-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  background-color: rgb(243, 243, 247);
  padding: 10px;
  font-size: medium;
  font-weight: bold;
}

.file-link {
  color: var(--text-color);
  // display: flex;
  align-items: center;
  // border: 3px solid transparent;
  justify-content: flex-start;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

// .file-link:is(:hover, .active) {
//   background-color: rgb(243, 243, 247);
// }

.file-link-selected {
  background-color: rgb(216, 235, 250);
  color: var(--text-color);
  // display: flex;
  align-items: center;
  border-left: 3px solid var(--red);
  justify-content: flex-start;
  white-space: nowrap;
  text-overflow: ellipsis;
  // pointer-events: none;
  cursor: default;
  width: 100%;
}

.files-menu-header button {
  background-color: unset;
  border: none;
  cursor: pointer;
}

.nofiles-found {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-size: 1.2rem;
  background: rgba(18, 18, 18, 0.03);
  color: rgba(0, 0, 0, 0.62);
  justify-content: center;
  align-items: center;
}

::ng-deep html[dir="ltr"] .fa-angle-double-left {
  transform: scale(-1) !important;
}

::ng-deep html[dir="ltr"] .fa-angle-double-right {
  transform: scale(-1) !important;
}

::ng-deep html[dir="rtl"] .file-link-selected {
  border-right: 3px solid var(--red) !important;
  border-left: unset !important;
}



@import '../../../../styles/kware_styles';

::ng-deep html[dir="rtl"] {

  ds-item-files-menu{
      .ui.table [class*="right aligned"], .ui.table[class*="right aligned"] {
    text-align: left !important; 
}


.ui[class*="right floated"].button[_ngcontent-dspace-angular-c3567716227]{
  float: left !important;
}

.ui[class*="right floated"].button{
  float: left !important;
}

.ui[class*="right floated"].button[_ngcontent-dspace-angular-c2919741190]{
  float: left !important;
}

  }

  .accordion-button:not(.collapsed)::after {
    margin-left: 0 !important;
    margin-right: auto;
  }

  .accordion-button::after {
    margin-left: 0 !important;
    margin-right: auto;
  }

}

::ng-deep html[dir="ltr"] {
    ds-item-files-menu{
      .ui.table [class*="right aligned"], .ui.table[class*="right aligned"] {
    text-align: right !important; 
}



  }

}

::ng-deep ds-item-files-menu{
thead, tbody, tr{
  border-style: none;
}


.ui.table tbody tr:nth-child(2n), .ui.table>tr:nth-child(2n) {
    background-color: rgba(0, 0, 50, .02) !important;
}


.ui.table tr td {
    border-top: 1px solid rgba(34, 36, 38, .1) !important;
}
  .table > :not(caption) > * > * {
    box-shadow: unset;
    border-bottom-width:0;
  }

  small {
    font-size: 80% !important;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

  .accordion-button{
    background-color: #f5f5f5 !important;
    border-radius: .28571429rem;
    color: #2f6fa7 !important;
    padding: .78571429em;
    font-size: 1em;
    height: 42px;
    
  }
  .file-section {
    thead {
      border-top: 1px solid rgba(34, 36, 38, .1);
      background-color: rgba(0, 0, 50, .02);
    }
  }

  // .accordion-header {
  //   margin-bottom: -9px;
  // }

  .accordion-body {
    padding: 0;
  }

  ds-base-file-download-link {
    .d-block {
      margin: 0 !important;
    }
  }

  .ui.table thead th {
background: #f9fafb !important;
  }
}

header, .row {
  display: flex;  /* aligns all child elements (flex items) in a row */
}

.col {
  flex: 1;        /* distributes space on the line equally among items */
}


@media screen and (max-width:1200px) {
  .files-menu {
    max-height: 36vh;
  }
  
}