
  <ngb-accordion #acc="ngbAccordion" [activeIds]="['panel-1']">
    <ngb-panel id="panel-1">
      <ng-template style="margin-bottom: -9px;" ngbPanelTitle>
        <span>{{ 'item.page.files' | translate }}
          <small class="text-muted"> ({{formatBytes((totalSize  |async))}})</small>

        </span>
      </ng-template>
      <ng-template  ngbPanelContent>
                  <div class="file-section">
            <div>
              <table class="ui striped table files fluid open">
                <thead>
                  <tr>
                    <th class="ten wide">{{'kware.media.viewer.browseFiles.name' | translate}}</th>
                    <th>{{'kware.media.viewer.browseFiles.size' | translate}}</th>
                    <th class="right aligned">
                      <a
                        role="button"
                        class="ui compact mini button right floated archive-link"
                        (click)="downloadFiles()"
                      >
                       <i class="fa-solid fa-file-zipper"></i>
                       &nbsp; {{'kware.media.viewer.browseFiles.btn.downloadAll' | translate}}
                      </a>
                    </th>
                  </tr>
                </thead>
               
              </table>
            </div>

          </div>
       <div class="files-wrapper">

  <div #filesListContainer class="files-menu" (scroll)="onScroll($event)">
    <ds-viewer-file
      #filesIds
      *ngFor="let file of (bitstreams | async); let index = index; trackBy: trackByIdx"
      [bitstream]="file"
      [fileIndex]="index"
      [item]="item"
      [ngClass]="
        index === selectedFile || isLoading ? 'file-link-selected' : 'file-link'
      "
      (selectedFileEmitter)="selectedFileClickEvent($event)"
      [currentFileIndex]="selectedFile"
      [isMobile]="isMobile"
      [viewerPanelsStatus]="viewerPanelsStatus"
    >
    </ds-viewer-file>
  </div>
  <ds-loading
    *ngIf="isLoading && !isEmptyList"
    message="{{ 'loading.default' | translate }}"
    [showMessage]="false"
  ></ds-loading>
  <div class="nofiles-found" *ngIf="isEmptyList">
    {{ "kware.media.viewer.nofiles.msg" | translate }}
  </div>
</div>

      </ng-template>
    </ngb-panel>
  </ngb-accordion>
